body {
  background: rgb(29, 29, 29);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  user-select: none;
}

canvas {
  border: 1px solid #a0a0a0;
}

canvas, #menu {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  outline: none;
  cursor: pointer;
  border: 1px solid rgb(109, 109, 109)
}

#menu {
  display: block;
  pointer-events: all;
  z-index: 999;
  width: 850px;
  height: 550px;
}

#title {
  position: relative;
  text-align: center;
  font-size: 41px;
  top: 20px;
  color: white;
}

#menuCont {
  position: absolute;
  width: 300px;
  height: 150px;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menuCont label {
  font-size: 18px;
  color: white;
}

.menuBtn {
  height: 50px;
}

.menuBtn {
  outline: none;
  transition: .15s;
  color: white;
  font-size: 21px;
  background: rgb(46, 46, 46);
}

.menuBtn {
  width: 100%;
  font-size: 21px;
  margin: 5px 0;
}

.menuBtn:hover {
  border: 3px solid rgb(44, 139, 255);
}

#window_Settings{
  position: absolute;
  right: 3px;
  bottom: 3px;
}

#window_Settings label{
  float: left;
  line-height: 42px;
  padding-right: 15px;
  font-size: 18px;
  color: white;
}

.settingsContent {
  float: left;
  width: 156px;
}

.settings_text {
  float: left;
  text-align: center;
  width: 70px;
  height: 42px;
  line-height: 42px;
  color: white;
}

.selectorContent {
  width: 100%;
  height: 42px;
  margin-top: 3px;
  margin-bottom: 10px;
  background: rgb(43, 43, 43);
}

.selector_leftBtn, .selector_text, .selector_rightBtn{
  float: left;
  height: 38px;
  line-height: 38px;
  color: white;
}

.selector_leftBtn, .selector_rightBtn {
  width: 38px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: .15s;
  background: rgb(53, 53, 53);
}

.selector_leftBtn:hover, .selector_rightBtn:hover {
  border: 2px solid rgb(44, 139, 255);
}

.fa-angle-left, .fa-angle-right {
  width: 100%;
  font-size: 21px;
  text-align: center;
}

.selector_text {
  width: 216px;
  font-size: 18px;
  transition: .3s;
  text-align: center;
}